@tailwind base;
@tailwind components;
@tailwind utilities;

p,h1 {
  @apply dark:text-gray-200
}

.db-sidenav .active {
  @apply border-gray-400 rounded text-blue-500
}

.db-sidenav li{
  @apply flex text-gray-500 px-8 py-2 space-x-4
}

nav li .active{
  @apply bg-blue-500 border-blue-500 text-white
}

section,main {
  @apply dark:text-gray-200 dark:bg-gray-800;
}

.subscribe-input::placeholder {
  color: white
}

.logo-text{
  @apply text-green-500 font-extrabold text-3xl;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.stack{
  @apply text-white text-center
}

.stack p{
  @apply my-8 leading-relaxed
}
.stack img{
  @apply w-full rounded-lg shadow max-h-[55vh] object-cover;
}

.stack a{
  @apply text-base font-semibold text-[#0E63F4]
}

.stack figcaption{
  @apply font-bold text-lg italic mt-2 mb-8
}

.stack h1{
  @apply mt-2 mb-1 text-center font-extrabold text-3xl
}

.stack h2{
  @apply mt-2 mb-1 text-center font-extrabold text-2xl
}

.stack h3{
  @apply mt-2 mb-1 text-center font-extrabold text-xl
}

.stack h4{
  @apply mt-2 mb-1 text-center font-extrabold text-lg
}

.stack h5{
  @apply mt-2 mb-1 text-center font-extrabold text-base
}
.stack h5{
  @apply mt-2 mb-1 text-center font-extrabold text-sm
}

.stack strong {
  @apply font-extrabold
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.typewriter h1 {
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}